body {
  margin: 0px;
  padding: 0px;
}

main {
  display: grid;
  grid-template-areas:
    "header"
    "herobanner"
    "ourCollections"
    "newArrivals"
    "footer";
}

header {
  grid-area: header;
  height: 100px;
  border: solid black 1px;
  display: flex;
}

.logo {
  display: flex;
}

ul li {
  padding: 10px;
  color: black;
  font-size: 1.5rem;
  font-family: "montserrat";
  display: inline-flex;
  justify-content: flex-end;
}

.searchBox {
  height: 35px;
  width: 200px;
  font-size: 1rem;
}

/* #hamburger-menu {
  display: none;
}

.fa-bars {
  color: black;
  font-size: 1.5rem;
  position: relative;
  left: 120px;
}

.hamburger-label {
  color: black;
  padding: 10px;
  font-size: 1.5rem;
  display: flex;
}

#hamburger-menu:checked ~ nav {
  display: block;
} */

.herobanner {
  grid-area: herobanner;
  height: 400px;
  border: solid black 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ourCollections {
  grid-area: ourCollections;
  height: 400px;
  border: solid black 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.area1,
.area2 {
  width: 50%;
  height: 100%;
  border: solid black 1px;
  justify-content: space-between;
}

.newArrivals {
  grid-area: newArrivals;
  height: 300px;
  border: solid black 1px;
  display: flex;
}

.car1,
.card2,
.card3,
.card4 {
  width: 25%;
  height: 100%;
  border: solid black 1px;
  display: flex;
  justify-content: space-between;
}

.footer {
  grid-area: footer;
  height: 100px;
  border: solid black 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {
}

@media (max-width: 991px) {
  .herobanner,
  .ourCollections {
    height: 300px;
    width: 100%;
  }

  .newArrivals {
    height: 150px;
    width: 100%;
  }

  .header {
    width: 100%;
    height: 50px;
  }
}

@media (max-width: 767px) {
  .herobanner,
  .ourCollections {
    height: 200px;
    width: 100%;
  }

  .newArrivlas {
    width: 100%;
    height: 100px;
  }
}
